#desktop {
    display: none;
}

.author-div {
    display: inline-block;
}

.author-div-title {
    margin: 0 auto 3rem;
}


.author-div-title h3 {
    font-family: 'Gentium Book Plus', serif;
    text-transform: uppercase;
    border-bottom: 3px dotted #d38d45;
    width: fit-content;
    margin: 0 auto;
}

#author-div-bio { 
    height: fit-content;
    background-color: #d38d45;
    color: white;
    font-family: 'Gentium Book Plus', serif;
    padding: 2rem;
    text-align: left;
    font-size: 1.1rem;
    display: flex;
}

#author-div-bio div { 
    flex-grow: 1;
    width: 0;
}

#author-div-bio p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 2rem;
}


#author-img {
    max-height: 90vh;
    max-width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 992px) {
    #mobile {
        display: none;
    }

    #desktop {
        max-width: 1500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .author-div {
        display: block;
        width: 100%;
        margin-bottom: 2rem;
        margin-left: 3rem;
    }

    #author-div-bio { 
        align-self: right;
    }

    .author-div-img {
        width: 100%;
    }

    #author-img {
        max-width: 50vw;
        max-height: 75vh;
        /* max-height: 100%; */
        /* max-width: 100%; */
        /* object-fit: cover; */
        /* margin: 0; */
    }
} 