.author-div-title-desktop {
    display: none;
}

.author-div {
    display: inline-block;
}

.author-div-title-mobile, .author-div-title-desktop {
    margin: 0 auto 3rem;
}


.author-div-title-mobile h3, .author-div-title-desktop h3 {
    font-family: 'Gentium Book Plus', serif;
    text-transform: uppercase;
    border-bottom: 3px dotted #d38d45;
    width: fit-content;
    margin: 0 auto;
}

#author-div-bio { 
    height: fit-content;
    background-color: #d38d45;
    color: white;
    font-family: 'Gentium Book Plus', serif;
    padding: 2rem;
    text-align: left;
    font-size: 1.1rem;
    display: flex;
}

#author-div-bio div { 
    flex-grow: 1;
    width: 0;
}

#author-div-bio p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 2rem;
}


#author-img {
    max-height: 90vh;
    max-width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 992px) {
    .author-div-title-mobile {
        display: none;
    }

    .author-div-title-desktop {
        display: block;
    }

    .author-div {
        display: grid;
        row-gap: 5rem;
        column-gap: 3rem;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        height: 70vh;
        width: 100%;
        overflow: hidden;
    }

    .author-div-title {
        grid-column: 1;
        grid-row: 1;
    }


    #author-div-bio {
        grid-column: 1;
        grid-row: 2;
        height: fit-content;
    }

    .author-div-img {
        grid-column: 2;
        grid-row: 1 / 4;
    }

    #author-img {
        display: block;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        margin: 0;
    }

} 