body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    min-height: 100vh;
}

/* Header styles */
header {
    /* TODO: hacer sticky / fixed */
    box-shadow: 0px -6px 10px 4px rgba(0, 0, 0, 0.2);
}

#header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

#div-h1 {
    width: 100%;
}

h1, h2 {
    text-align: center;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    letter-spacing: 0.15rem;
}

/* Nav toggle functionality */
.hidden {
    display: none;

}

#menu-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 0 1rem 0 0;
}

/* Nav styles */
nav {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

nav ul li {
    font-size: 0.7rem;
    text-align: center;
    line-height: 3rem;
}

nav ul li a {
    padding: 1rem;
    transition: 0.2s;
}

/* Main */
main {
    padding: 3rem 1rem;
    text-align: center;
    margin-bottom: 4rem;
}

main .book img {
    margin: 0 auto;
    max-width: 50%;
    max-height: 75vh;
}

main h2 {
    font-size: 1.5rem;
    margin: 2rem 0 3rem 0;
}

main h2::first-letter {
    font-size: 3rem;
    color: #aa1c1c;
    border: 1px solid #aa1c1c;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    margin-right: -1rem;
}

main .book p {
    line-height: 1.5rem;
    margin: 1.5rem 0;
}

main .book div.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}

/* Footer */
footer {
    /* TODO: hacer que aparezca de detrás del contenido? */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 4rem;
    font-family: "Gentium Book Plus", serif;
    font-weight: 700;
}

/* General inline text styles */
nav a:hover, nav a:focus,
main button:hover, main button:focus {
    color: white;
    background-color: #aa1c1c;
}

button {
    font-family: 'Gentium Book Plus', serif;
    background-color: transparent;
    border: 1px solid black;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

::selection {
    color: white;
    background-color: #aa1c1c;
}

.email-obfs {
    display: none;
}

.email {
    color: #aa1c1c;
}